body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #21222c 50%, #fabf00 50%);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
#border{
    border: 9px solid black;
    border-radius: 10px;
    padding: 9px;
    width: 250px;
    height: 300px;
}
#calculator{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: gainsboro;
}
#resultDiv{
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
#resultDiv input{
    width: 200px;
    position: relative;
    padding: 9px;
    border: 3px solid gainsboro;
    border-radius: 9px;
}
#resultDiv span{
    position: absolute;
    left: 70%;
    cursor: pointer;
    color: green;
}
#buttonsCalculator{
    height: 80%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#buttonsCalculator div{
    display: flex;
    gap: 12px;
}
#buttonsCalculator button{
    width: 50px;
    height: 50px;
    color: #fff;
    background-color:#0275d8;
    box-sizing: border-box;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: ease-in 0.3s;
}
#buttonsCalculator button:hover{
    transform: scale(1.2);
}